# Home page with links for Sign up Page, Login and Upload Image views
Home 
<p>
    <%= link_to "Sign up", signup_path %>
</p>

<p>
    <%= link_to "Login in", login_path %>
</p>

<p>
    <%= link_to "Upload Image", new_upload_path %>
</p>